.firstBox {
    background-color: white;
    width: 50%;
    height: 70%;   
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 4px;
}

.textBox {
    background-color: white;
    width: 70%;
    height: 70%;   
    position: absolute;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 4px;
    border: solid;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.send {
    margin-top: 70% !important;
    margin-left: 2% !important;
    font-size: 80px !important;
}